body main .article1 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}
body main .article2 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}
body main .article3 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}
#image {
    position:relative;
    width:100%;
    z-index:-1;
}
#arrowleft {
    position:absolute;
    transition-duration:0.1s;
    width:2.5%;
    left:0;
    top:42%;
}
#arrowright {
    position:absolute;
    transition-duration:0.1s;
    width:2.5%;
    right: 0;
    top:42%;
}
#arrowleft:hover {
    left:0.5%;
}
#arrowright:hover {
    right:0.5%;
}
.imageslider {
    width:100%;
}
@media all and (max-width:780px) {
    #arrowleft,#arrowright {
        top:35%;
    }
    .article1,.article2,.article3 {
        display:grid;
        grid-template-areas: "main";
    }
}