#persoon {
    display:block;
    border:3px solid pink;
    background-color: #cb98a1;
    width:500px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    opacity:0;
    transition-duration: 0.2s;
}
#persoon img {
    width: 400px;
}
nav button {
    padding: 10px 20px;
    transition-duration: 0.4s;
    float:left;
    background-color: #9418a2;
    border: 1px solid #9418a2;
    color:white;
}
nav button:hover  {
    background-color:lightgray;
    color:black;
}